footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--dark_theme);
    height: 4%;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: var(--white);
}