@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

body{
    background: #F5F5F5;
}

main{
    position: relative;
    left: 8%;
    width: 82%;
    padding-top: 10em;
    text-align: center;
}

.error-font{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 39px;
    color: #593C1C;
}
