footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #593C1C;
    height: 4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}