@import "switch.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
body{
    top: 1087px;
    background: #F5F5F5;
}

.sort-section{
    position: relative;
    width: 82%;
    height: 6.2rem;
    left: 12%;
    margin-top: 9%;

    background: #F7F0E9;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    display: flex;
    flex-direction: row;
}


.available-commodities{
    color: #593C1C;
    display: flex;
    flex-direction: row;
    margin: auto 3% auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 39px;
    text-align: center;
}

.sort-by{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 39px;
}

#sort-by-text{
    position: relative;
    top: 27%;
    left: 25rem;

    color: #593C1C;
}

.sort-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
}

.sort-options li{
    width: 9%;
    height: 55%;
    align-items: center;
    /*margin: 5% 5% auto;*/
}

.sort-options li a{
    align-items: center;
    display: block;
    text-align: center;
    padding: 5%;
    text-decoration: none;
}

#name-sort-option{
    background: #A97B47;
    border-radius: 15px;
    position: relative;
    left: 31rem;
    width: 7rem;
    margin-top: -2.3rem;
}

#name-sort-option a{
    color: #FFFFFF;
}

#price-sort-option{
    position: relative;
    left: 35rem;
}

#price-sort-option a{
    color: #919191;
    margin-top: -2rem;
}

/*--------------------------------*/


.main-container{
    position: relative;
    top: 35%;
    left: 12%;
    width: 82%;
    margin-top: 2%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 3rem;
}


.product {
    width: 3em;
    height: 4.3em;
    margin: 0.1em 0.1em 0.08em 0.1em;
    font-size: 6em;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    flex: 0 0 calc(20% - 20px);
}

.product-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-align: left;
    color: #593C1C;
    padding-top: 8px;
    padding-left: 20px;
}

.product-inStock{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #C82525;
    padding-left: 20px;
}

.product img{
    width: 3em;
    height: 2.8em;
    border-radius: 15px;
}

.product a{
    cursor: pointer;
}

.product-price{
    /*height: 4em;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #593C1C;
    display: flex;
    justify-content: space-around;
}


.add-to-cart-button {
    width: 7em;
    height: 2.7em;

    background: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    color: #593C1C;
    margin-top: -1em;
}


@media (max-width: 768px) {
    .product-item {
        flex: 0 0 calc(40% - 20px);
    }
}

@media (max-width: 480px) {
    .product-item {
        flex: 0 0 100%;
    }
}
