@import "footer.css";
@import "navbar.css";
@import "normalize.css";
@import "login_form.css";
@import "root.css";

.form-container {
    margin-bottom: 14%;
}

.form-container h2 {
    left: 32%;
    position: relative;
    font-weight: 700;
    font-size: 31px;
    color: var(--medium_theme);
}

#frgt-psw a {
    position: relative;
    left: 18%;
    margin: 10px;
    color: var(--medium_theme);
    text-decoration: none;
}
