@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import "root.css";

.form-container {
    position: relative;
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
}

.form-container input {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    background: var(--light_theme);
    width: 100%;
    box-sizing: border-box;
    border-radius: 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.form-container input:valid {
    background: var(--light_theme);
}

.form-container input:invalid {
    background: var(--light_theme);
}

.form-container button {
    position: relative;
    left: 28%;
    margin: 10px;
    background-color: var(--medium_theme);
    border-radius: 3px;
    border: none;
    width: 35%;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: var(--white);
}

.form-container button:hover {
    background: #734f37;
}

#rtn-str {
    position: relative;
    left: 27%;
    bottom: 10%;
}

#rtn-str a {
    color: var(--medium_theme);
    text-decoration: none;
}

#rtn-str span {
    color: #4a4a4a;
}
