@import "footer.css";
@import "navbar.css";
@import "normalize.css";
@import "login_form.css";

.form-container {
    margin-bottom: 14%;
}

.form-container h2 {
    left: 32%;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    color: #A97B47;
}

#frgt-psw a {
    position: relative;
    left: 18%;
    margin: 10px;
    color: #A97B47;
    text-decoration: none;
    font-family: 'Inter';
}
