.navbar{
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);

    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
}

.baloot{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 2%;
}

.baloot-icon a img{
    width: 80%;
    height: 80%;
}

.baloot-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-align: left;
    color: #A97B47;
}

.baloot-icon{
    text-align: right;
    padding-right: 3px;
}

/*.baloot-icon{*/
/*    position: absolute;*/
/*    width: 102px;*/
/*    height: 94px;*/
/*    left: 1%;*/
/*    top: 10px;*/

/*    !*background: url(image.png);*!*/
/*    border-radius: 47px;*/
/*}*/


/*.baloot-text{*/
/*    position: absolute;*/
/*    width: 183px;*/
/*    height: 72px;*/
/*    left: 138px;*/
/*    top: 33px;*/

/*    font-family: 'Inter';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 42px;*/
/*    line-height: 51px;*/
/*    text-align: center;*/

/*    color: #A97B47;*/
/*}*/

.username{
    position: absolute;
    width: 127px;
    height: 34px;
    left: 80%;
    /*top: 38px;*/

    text-align: center;

    color: #593C1C;
}

.cart{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 90%;
    padding-left: 10px;
    padding-right: 10px;
    /*top: 24px;*/

    background: #593C1C;
    mix-blend-mode: normal;
    border-radius: 12px;

    text-align: center;

    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.font{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
}