@import "navbar.css";

body{
    background: #F5F5F5;
}

main{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 82%;
    /*min-height: calc(100vh - 100px);*/
}

.product-img img{
    width: 590px;
    height: 500px;
}

#empty-cart{
    color: #593C1C;
    background: #F7F0E9;
}

.product{
    display: flex;
    flex-direction: row;
}


.category-part{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
}

.cart-part{
    display: flex;
    flex-direction: row;
}

.submit-part{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.stars{
    display: flex;
    flex-direction: row;
}

/*.stars img{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/


#product-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    text-align: center;

    color: #593C1C;

}

.product-info-font{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
}

#stock{
    font-size: 16px;
    color: #C82525;
    /*margin-bottom: 10px;*/
}

.provider-name{
    font-size: 16px;
    color: #000000;
}

#categories{
    font-weight: 500;
    font-size: 16px;
    color: #593C1C;
}

#rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
}

#rating img{
    width: 30px;
    height: 30px;
}

#rating-font{
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    color: #593C1C;
}


#number-of-ratings{
    font-weight: 500;
    font-size: 16px;
    color: #919191;
}

.cart-part{
    isplay: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 1em 3em;
    margin-top: 1em;
    margin-bottom: 2em;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
}

#price{
    font-size: 24px;
    line-height: 44px;
    color: #593C1C;
}

#add-to-cart-btn{
    box-sizing: border-box;
    width: 8em;
    height: 3.5em;
    background: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    color: #593C1C;
}

