:root {
    --dark_theme: #593C1C;
    --medium_theme: #A97B47;
    --light_theme: #F7F0E9;
    --red: #C82525;
    --dark-gray: #C82525;
    --medium_gray: #919191;
    --light_gray: #F5F5F5;
    --yellow: #FFC700;
    --black: #000000;
    --white: #FFFFFF;
}