@import "navbar.css";
@import "normalize.css";
@import "login_form.css";
@import "footer.css";

.form-container h2 {
    left: 10%;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    color: #A97B47;
}
